<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="GGBContext" connectionString="Data Source=MNINAWAMKOK2DE0\mercedes;Initial Catalog=GGB;Persist Security Info=True;User ID=admins;Password=P@ige1985;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>